.paginator {
  display: flex;
  align-items: center;

  height: 35px;
  margin-bottom: 15px;
}
.pageNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  margin: 5px;
  padding: 3px;

  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;

  color: white;
}

.pageNumber.selectedPage {
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}

.btn {
  display: block;
  height: 35px;
  width: 70px;

  border: 2px solid black;
  border-radius: 30px;
  background-color: darkslategray;
  color: white;
  cursor: pointer;
}
