.container {
  display: flex;
  width: 1240px;
  margin: 0 auto;
  padding-bottom: 20px;

  background: url(//img1.goodfon.ru/wallpaper/nbig/9/6f/minimalizm-gradient-background.jpg)
    center center/cover no-repeat;
}

.content {
  display: block;
  padding: 10px;
  width: 980px;
}
