.transparent {
  position: relative;
  max-width: 400px;
  margin: auto 0;
}

.transparent:before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to right bottom,
    rgba(43, 44, 78, 0.5),
    rgba(104, 22, 96, 0.5)
  );
}

.post {
  display: flex;
  align-items: center;
  padding: 5px 0 5px 15px;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.input {
  display: block;
  width: 100%;
  padding: 0 15px;

  border-width: 0;
  line-height: 30px;
  border-radius: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  font-family: "Roboto", sans-serif;
  outline: none;
}

.textField {
  display: block;
  width: 400px;
  padding: 0 15px;

  border-width: 0;
  line-height: 30px;
  border-radius: 20px;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  font-family: "Roboto", sans-serif;
  outline: none;
}

.profileButton {
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
  margin: 10px 20px;
  border-radius: 30px;
  background-image: linear-gradient(
    45deg,
    #6ab1d7 0%,
    #33d9de 50%,
    #002878 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: 0.5s;
  cursor: pointer;
}

.nameCheckbox {
  margin-left: 10px;
}
